<li class= "todos" id="item_<%=item.id%>">
		<b><%=item.name%></b><br/>
		<p style="font-size: 50%; margin-bottom:0px;"><i>Created: <%=item.created_at.strftime("%I:%M%p UTC on %a, %m/%d/%y")%></i></p>
		<%= link_to "Finished?", item_path(item), method: 'delete', remote: true%>
		<hr>
</li>