<h1>Hello</h1>

<%= form_for Item.new do |f|%>
	<div class="form">
		<%= f.text_field :name, placeholder:
		"Enter Task"%>
	</div>

	<div class="form">
		<%=f.submit%>
	</div>
<%end%>

<br/>
<ul>
	<%=render @items%>
</ul>