

<h1>Hello</h1>

<%= form_for Item.new, remote: true do |f|%>
	<%= f.text_field :name, placeholder: "Enter New Task" %>
	<%=f.submit "Add"%>
<%end%>
<br/>

<ul id="todo_list">
	<%=render @items%>
</ul>